<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：命名空间，用于隔离sql-->
<mapper namespace="dao.ProductCommentDao">
   <!-- <resultMap id="productCommentResult" type="entity.ProductComment" autoMapping="true">
        <result property="productCommentId" column="product_comment_id"></result>
        <result property="userId" column="user_id"/>
        <result property="productId" column="product_id"/>
        <result property="comment" column="comment"/>
        <result property="productMark" column="product_mark"/>
        <result property="createDate" column="create_time"/>
    </resultMap>-->
    <select id="getSortMark" resultType="entity.ProductComment" parameterType="int">
      select * from product_comment where store_id=#{storeId} order by comment_mark desc
   </select>
    <select id="getComment" resultType="java.util.HashMap" parameterType="int">
        select product_comment_id,user.user_name,product.product_name,comment,comment_mark,create_date
        from product_comment inner join user on(product_comment.user_id=user.user_id)
        inner  join product on(product_comment.product_id=product.product_id)
        order by product_comment_id desc
    </select>

</mapper>